<!DOCTYPE html>
<html>
    <% include partials/part_head %>
    <body>
        <div class="container">
            <div class="row">
                <% include partials/part_navbar %>
            </div>
            <% if(changed) { %>
                <% if(error) { %>
                    <div class="row">
                        <p class="fail">Map not found!</p>
                    </div>
                <% } else { %>
                    <div class="row">
                        <p class="success">Map changed! Check the server for the map change.</p>
                    </div>
                <% } %>
            <% } %>
            <div class="row">
                <p class="subtitle">If the map has been changed sucessfully you will be redirected back here, after the server has fishished changing map. If the map was not changed on the server, re-enter your <a href="/server">server details</a> and try again.</p>
            </div>
            <div class="row">
                <form action="/execute" method="POST">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="mapname">Map Name:</label>
                        <input class="input-lg" type="text" name="mapname" id="config" />
                    </div>
                    <div class="form-group col-sm-6">
                        <button class="btn-success btn-lg" type="submit">Change Map</button>
                    </div>
                    <input type="hidden" name="action" value="map" />
                </form>
            </div>
            <ul class="nav nav-tabs">
                <% for(var i=0; i<gamemodes.length; i++) { %>
                    <% if(i === 0) { %>
                        <li class="active"><a data-toggle="tab" href="#<%= gamemodes[i] %>"><%= gamemodes[i] %></a></li>
                    <% } else { %>
                        <li><a data-toggle="tab" href="#<%= gamemodes[i] %>"><%= gamemodes[i] %></a></li>
                    <% } %>
                <% } %>
            </ul>
            
            <div class="tab-content">
                <% for(var i=0; i<gamemodes.length; i++) { %>
                    <% if(i === 0) { %>
                        <div id="<%= gamemodes[i] %>" class="tab-pane active">
                            <% for(var j=0; j<mapList.length;) { %>
                                <div class="row">
                                    <% for(var r=1; r<=4; r++) { %>
                                        <% if(mapList[j] !== undefined) { %>
                                            <% if(mapList[j].gamemode === gamemodes[i]) { %>
                                                <div class="col-sm-3">
                                                    <form action="/execute" method="POST">
                                                        <label class="control-label" for="mapname"><%= mapList[j].realname %></label>
                                                        <input type="image" style="width: 100%; border: 2px solid #000000" src="/images/<%= mapList[j].mapfile %>.jpg" onerror="this.src='/images/mapname.jpg'" alt="<%= mapList[j].mapfile %>" />
                                                        <input type="hidden" name="mapname" value="<%= mapList[j].mapfile %>" id="mapname" />                        
                                                        <input type="hidden" name="action" value="map" />
                                                    </form>
                                                    <form action="/execute" method="POST">
                                                        <button style="width: 100%;" type="submit" class="btn-success btn-lg">Execute <%= mapList[j].config %></button>
                                                        <input type="hidden" name="config" value="<%= mapList[j].config %>" />
                                                        <input type="hidden" name="action" value="config" />
                                                    </form>
                                                </div>
                                            <% } else { %>
                                                <% r--; %>
                                            <% } %>
                                        <% } %>
                                        <% j++; %>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    <% } else { %>
                        <div id="<%= gamemodes[i] %>" class="tab-pane">
                            <% for(var j=0; j<mapList.length;) { %>
                                <div class="row">
                                    <% for(var r=1; r<=4; r++) { %>
                                        <% if(mapList[j] !== undefined) { %>
                                            <% if(mapList[j].gamemode === gamemodes[i]) { %>
                                                <div class="col-sm-3">
                                                    <form action="/execute" method="POST">
                                                        <label class="control-label" for="mapname"><%= mapList[j].realname %></label>
                                                        <input type="image" style="width: 100%; border: 2px solid #000000" src="/images/<%= mapList[j].mapfile %>.jpg" onerror="this.src='/images/mapname.jpg'" alt="<%= mapList[j].mapfile %>" />
                                                        <input type="hidden" name="mapname" value="<%= mapList[j].mapfile %>" id="mapname" />                        
                                                        <input type="hidden" name="action" value="map" />
                                                    </form>
                                                    <form action="/execute" method="POST">
                                                        <button style="width: 100%;" type="submit" class="btn-success btn-lg">Execute <%= mapList[j].config %></button>
                                                        <input type="hidden" name="config" value="<%= mapList[j].config %>" />
                                                        <input type="hidden" name="action" value="config" />
                                                    </form>
                                                </div>
                                            <% } else { %>
                                                <% r--; %>
                                            <% } %>
                                        <% } %>
                                        <% j++; %>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>
            </div>
            
            <div class="row">
                <% include partials/part_footer %>
            </div>
        </div>
    </body>
</html>
